.profile{
    display: flex;
    flex-wrap: wrap;
    background-color: #eef0f2;
    width: 280px;
    /* height: 465px; */
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 3%;
}

.description {
    width: 240px;
    height: 350px;
    display: block;
    text-align: center;
    background-color: white;
    border-radius: 3%;
    
}

.avatar {
    width: 100px;
    height: 100px;
    margin-top: 40px;
    border-radius: 50%;
    border: 1px solid #d4d5d8;
}



.name {
    font-family: 'Lucida Sans';
    font-size: 20px;
    margin-bottom: 10px;
}

.tag {
    font-family: 'Lucida Sans';
    font-size: 15px;
    color: grey;
    margin-top: 5px;
    margin-bottom: 5px;
}

.stats {
    padding: 0;
    list-style: none;
    margin-top: -100px;
}

.quantity{
    font-family: 'Lucida Sans';
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}