.friendlist {
    list-style: none;
    position: relative;
    display: flex;
    background-color: lightyellow;
    width: 150px;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 3%;
}


.online {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color: green;
}

.offline {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color: red;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 5px;
}

.avatar {
    margin-left: 10px;
    margin-right: 10px;
}

.name {
    font-family: 'Lucida Sans';
    font-size: 20px;
    color: black;
}